<template>
    <div class="container">
        <appHeader></appHeader>
        <hr>
        <div class="row">
            <appServers></appServers>
            <appDetails></appDetails>
        </div>
        <hr>
        <appFooter></appFooter>
    </div>
</template>

<script>
import Header from './components/Shared/Header.vue'
import Servers from './components/Server/Servers.vue'
import Details from './components/Server/ServerDetails.vue'
import Footer from './components/Shared/Footer.vue'

export default {
    components: {
        appServers: Servers,
        appHeader: Header,
        appDetails: Details,
        appFooter: Footer,
      }
  };
</script>

<style>

</style>
