<template>
	<div>
		 <div class="form-group">
            <label for="email">First Name</label>
            <input
            		:value="firstName"
                    type="text"
                    id="firstName"
                    class="form-control"
                    @input="nameChanged(true, $event)"
                    >
        </div>
        <div class="form-group">
            <label for="email">Last Name</label>
            <input
                    :value="lastName"
                    type="text"
                    id="lastName"
                    @input="nameChanged(false, $event)"
                    class="form-control">
        </div>
	</div>
</template>

<script>
    export default {
    	props: ['value'],
    	computed: {
    		firstName(){
    			return this.value.split(" ")[0];
    		},
    		lastName(){
    			return this.value.split(" ")[1];
    		}
    	},
		methods: {
		  nameChanged(isFirst, event) {
		  		let name = '';
		  		if (isFirst){
		  			name = event.target.value + " " + this.lastName;
		  		} else {
		  			name = this.firstName + " " + event.target.value;
		  		}
		  		this.value = name;
	  			this.$emit('input', this.value)

		  }
		}
	}
</script>