<template>
  <div id="app">
    <app-servers></app-servers>
  </div>
</template>

<script>
export default {
  data: function(){
    return {
      status: 'critical'
    };

  }
}
</script>

<style>

</style>
