<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <li class="list-group-item" v-for="server in servers">
                <server-item :id="server.id" :status="server.status" @statusChanged="statusChanged">
                </server-item>
            </li>
        </ul>
    </div>
</template>

<script>
    import ServerItem from './ServerItem.vue'

    export default {
        components: {
            serverItem: ServerItem,
        },
        data: function(){
            return {
                servers: [
                    {id: 1, status: "Normal"},
                    {id: 2, status: "Critical"},
                    {id: 3, status: "Unknown"},
                    {id: 4, status: "Normal"},
                ]
            };
        },
        methods:{
            statusChanged(id, status){
                this.servers[id-1].status = status;
            }
        }
    }
</script>

<style>

</style>
