<template>
    <div>
        Server #{{ id }} -> {{status}}
        <button @click="backToNormal">Back to Normal</button>
    </div>
</template>

<script>
    export default {
        props: {
            id: Number,
            status: String
        },
        methods: {
            backToNormal(){
                this.$emit('statusChanged', this.id, 'Normal');
            }
        }

    }
</script>

<style scoped>

</style>