<template>
    <div class="container">
        <form>
            <div class="row"  v-if="!submitted">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    
                    <full-name v-model="fullName"></full-name>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                                v-model.lazy="mail"
                                type="text"
                                id="mail"
                                class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Password</label>
                        <input
                                v-model.lazy="password"
                                type="password"
                                id="password"
                                class="form-control">
                    </div>
                    <label for="storeData">
                            <input
                                    v-model="storeData"
                                    type="checkbox"
                                    id="storeData"
                                    value="Store"> Store
                    </label>

                    <button @click.prevent="submitted = true" class='btn btn-submit'>Submit</button>

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
        </form>
        <hr>
        <div class="row"  v-if="submitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{fullName}}</p>
                        <p>Mail: {{mail}}</p>
                        <p>Password: {{password}}</p>
                        <p>Store in Database?: {{storeData}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FullName from "./components/FullName.vue"
    export default {
        data() {
          return {
            submitted: false,
            firstName:'',
            lastName: '',
            fullName: '',
            mail: '',
            password:'',
            storeData: false,
          };
        },
        components:{
            fullName: FullName
        }
    }
</script>

<style>
</style>
