<template>
    <div>
    <h3> New Quote </h3>
    <button @click="counter += 1"> up </button>
    {{counter}}
    </div>
</template>

<script>
    export default {
        data() {
            return {
                counter: 0
            };
        },
        destroyed(){
            console.log("destroyed")
        },
        deactivated(){
            console.log("went away from new");
        },
        activated(){
            console.log("HI IM NEW");
        }
    }
</script>

<style scoped>

</style>