<template>
	<div class="row">
        <div class="col-xs-12">
            <footer>
                <p>All Servers are managed here</p>
            </footer>
        </div>
    </div>
</template>

<script>
</script>
